@media (min-width: 576px) {
  #calculator {
    display: block;
  }
}
#calculator {
  border: solid 2px black;
  width: 40%;
  height: 470px;
  margin: auto;
  border-radius: 10px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 100px;
}
input {
text-align: right;
}
input#screen{
 font-size: 30px; 
}

#equation {
  text-align: right;
  padding-right: 10%;
  padding-top: 3%;
  height: 10%;
}
.row {
  margin-left: 10px;
  margin-right: 10px;
}
